/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: "pfagoraSansPro-regular";
    src: url("../fonts/ufonts.com_pfagorasanspro-regular.eot");
    src: url("../fonts/ufonts.com_pfagorasanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ufonts.com_pfagorasanspro-regular.woff") format("woff"), url("../fonts/ufonts.com_pfagorasanspro-regular.ttf") format("truetype"), url("../fonts/ufonts.com_pfagorasanspro-regular.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "pfagoraSansPro-thin";
    src: url("../fonts/ufonts.com_pfagorasanspro-thin.eot");
    src: url("../fonts/ufonts.com_pfagorasanspro-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ufonts.com_pfagorasanspro-thin.woff") format("woff"), url("../fonts/ufonts.com_pfagorasanspro-thin.ttf") format("truetype"), url("../fonts/ufonts.com_pfagorasanspro-thin.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "pfhighWaySansPro-regular";
    src: url("../fonts/ufonts.com_pfhighwaysanspro-regular.eot");
    src: url("../fonts/ufonts.com_pfhighwaysanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ufonts.com_pfhighwaysanspro-regular.woff") format("woff"), url("../fonts/ufonts.com_pfhighwaysanspro-regular.ttf") format("truetype"), url("../fonts/ufonts.com_pfhighwaysanspro-regular.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "pfhighWaySansPro-thin";
    src: url("../fonts/ufonts.com_pfhighwaysanspro-thin.eot");
    src: url("../fonts/ufonts.com_pfhighwaysanspro-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ufonts.com_pfhighwaysanspro-thin.woff") format("woff"), url("../fonts/ufonts.com_pfhighwaysanspro-thin.ttf") format("truetype"), url("../fonts/ufonts.com_pfhighwaysanspro-thin.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PragmaticaLight";
    src: url("../fonts/PragmaticaLight.eot");
    src: url("../fonts/PragmaticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaLight.woff") format("woff"), url("../fonts/PragmaticaLight.ttf") format("truetype"), url("../fonts/PragmaticaLight.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------MIXING----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header,
.nav,
.content {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header {
    padding-top: 25px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    margin-bottom: 25px;
}
    .main-logo {
        overflow: hidden;
        float: left;
        width: 208px;
        height: 56px;
    }
        .main-logo a {
            display: block;
        }
            .main-logo img {
                display: block;
                width: 208px;
                height: 56px;
            }
    .box-contact-info {
        position: relative;
        float: right;
        padding: 0 0 1px 23px;
    }
        .box-contact-info:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 15px;
            height: 20px;
            background: url("../images/header/icon_tel.png") no-repeat;
        }
        .number-tel-header {
            display: block;
            margin-left: 10px;
            font: 28px "pfhighWaySansPro-thin";
            color: #1a1a1a;
        }
            .number-tel-header span {
                color: #4d4d4d;
            }
        .box-contact-info .street {
            display: block;
            font: 16px "pfhighWaySansPro-thin";
            color: #1a1a1a;
        }
            .box-contact-info .street a {
                color: #688AAF;
                text-decoration: none;
                border-bottom: 1px dotted #688AAF;
                font: 16px "pfhighWaySansPro-thin";
            }
            .box-contact-info .street a:hover {
                border: none;
            }
/*-------------------------------------NAV------------------------------------------*/
.wrap-nav {
    background: #364657;
}
    .nav li {
        position: relative;
        float: left;
    }
        .nav li:after {
            content: '';
            position: absolute;
            top: 10px;
            left: -1px;
            display: block;
            height: 40px;
            width: 1px;
            background: #526880;
        }
        .nav li:first-child:after {
            display: none;
        }
        .nav a {
            display: block;
            padding: 18px 20px 19px;
            font: 18px "pfhighWaySansPro-regular";
            text-decoration: none;
            color: #fff;
        }
        .nav a:hover,
        .nav .active a {
            background: #445363;
        }
        .nav li:hover:after,
        .nav .active:after {
            display: none;
        }
        .nav li:hover,
        .nav .active {
            z-index: 10;
        }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-content {
    
}
.content {
    position: relative;
}
    .banner-call-back {
        width: 100%;
        height: 567px;
        margin-bottom: 25px;
        background: url("../images/content/banner1.jpg") center no-repeat;
        font-family: "pfhighWaySansPro-thin";
    }
        .text-banner-call-back {
            position: absolute;
            top: 142px;
            left: 250px;
            width: 460px;
            color: #252525;
        }
            .text-banner-call-back > span {
                display: block;
            }
            .text-banner-call-back .text-top {
                font-size: 48px;
            }
            .text-banner-call-back .text-bottom {
                font: 33px "pfagoraSansPro-thin";
                line-height: 26px;
            }
                .text-banner-call-back .text-bottom span {
                    color: #FF0C00;
                }
        .box-call-back {
            float: right;
            width: 285px;
            padding-top: 18px;
            margin-top: 120px;
            background: #FFDD2D;

            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
            .name-call-back-form {
                display: block;
                font: 18px "pfhighWaySansPro-thin";
                text-align: center;
                color: #2b2b2c;
            }
                .name-call-back-form span {
                    display: block;
                    font-size: 24px;
                    text-transform: uppercase;
                }
        .call-back {
            padding: 25px 18px;
            background: #364657;

            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
            .btn-your-name,
            .btn-your-tel {
                width: 190px;
                padding: 9px 10px 9px 48px;
                border: 1px solid #fff;
                color: #fff;
                background: url("../images/content/icon_name.png") no-repeat transparent;

                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            .btn-your-name {
                margin-bottom: 6px;
                background-image: url("../images/content/icon_name.png");
                background-position: 13px 5px;
            }
            .btn-your-tel {
                margin-bottom: 16px;
                background-image: url("../images/content/icon_tel.png");
                background-position: 17px 5px;
            }
            .btn-yellow {
                width: 250px;
                padding: 11px 0px 12px;
                background: #FFDD2D;
                border: none;
                font: 20px "pfhighWaySansPro-thin";
                cursor: pointer;

                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            .btn-yellow:hover {
                background: #FFB52D;
            }
            /*custom placeholder*/
            .btn-your-name::-webkit-input-placeholder,
            .btn-your-tel::-webkit-input-placeholder{
                color:#fff;
            }
            .btn-your-name::-moz-placeholder,
            .btn-your-tel::-moz-placeholder{
                color:#fff;
            }
            .btn-your-name:-moz-placeholder,
            .btn-your-tel:-moz-placeholder{
                color:#fff;
            }
            .btn-your-name:-ms-input-placeholder,
            .btn-your-tel:-ms-input-placeholder {
                color:#fff;
            }

/*----BOX-STEPS----*/
    .box-steps {

    }
        .header-section {
            margin-bottom: 15px;
        }
            .header-section h1 {
                text-align: center;
                text-transform: uppercase;
                font: 36px "pfhighWaySansPro-thin";
            }
            .header-section span {
                display: block;
                width: 750px;
                margin: 0 auto;
                text-align: center;
                color: #575656;
                font: 20px "pfhighWaySansPro-thin";
            }
        .list-steps {
            position: relative;
            padding-bottom: 40px;
            margin-bottom: 20px;
            border-bottom: 1px solid #D6D6D6;
            background: url("../images/content/icon_triagle.png") 497px 127px no-repeat;
        }
            .list-steps:before,
            .list-steps:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                height: 15px;
                width: 1px;
                background:  #D6D6D6;
            }
            .list-steps:before {
                left: 0;
            }
            .list-steps:after {
                right: 0;
            }
            .list-steps li {
                display: table-cell;
                width: 330px;
                vertical-align: middle;
            }
                .list-steps .circle {
                    float: left;
                    width: 90px;
                    height: 80px;
                    padding-top: 10px;
                    margin-right: 15px;
                    vertical-align: middle;
                    text-align: center;
                    background: #FFDD2D;
                    font: 60px "pfhighWaySansPro-thin";

                    -webkit-border-radius: 45px;
                    -moz-border-radius: 45px;
                    border-radius: 45px;
                }
                .list-steps .wrap-text {
                    display: table-cell;
                    width: 225px;
                    height: 90px;
                    vertical-align: middle;
                    color: #757575;
                    font-size: 20px;
                    font-family: "pfagoraSansPro-thin";
                }
        .box-steps .text-big {
            display: block;
            text-align: center;
            font: 56px "pfhighWaySansPro-thin";
        }
        .box-steps .text-light {
            display: block;
            text-align: center;
            color: #919191;
            font: 18px "pfhighWaySansPro-thin";
        }
/*---BOX-BENEFITS---*/
/*---BOX-CALCULATE---*/
.box-calculate {
    margin-bottom: 65px;
}
    .box-calculate h1 {
        margin-bottom: 20px;
    }
    .list-polzunok {

    }
    .list-result-calculate {
        overflow: hidden;
        margin-bottom: 20px;
    }
        .list-result-calculate > li {
            float: left;
            width: 298px;
            height: 151px;
            margin-left: 46px;
            border: 2px solid #C0C0C0;
            text-align: center;
        }
        .list-result-calculate > li:first-child {
            margin-left: 0;
        }
            .list-result-calculate header {
                margin: 20px 0 15px;
                color: #373737;
                font: 21px "PragmaticaLight";
            }
            .cnt-payment,
            .cnt-percent,
            .currency {
                position: relative;
                font: 30px "PragmaticaLight";
            }
                .cnt-percent:after {
                    content: '%';
                    display: inline-block;
                    margin-left: 5px;
                }
            .list-result-calculate footer {
                color: #7b7b7b;
                font-size: 14px;
            }
            .list-result-calculate ul {
                text-align: left;
                font: 20px "PragmaticaLight";
                margin-left: 50px;
            }
                .list-result-calculate ul li {
                    margin-bottom: 5px;
                }
                .list-result-calculate .text {
                    width: 65px;
                }
                .list-result-calculate .first-date,
                .list-result-calculate .last-date {
                    font: 24px "PragmaticaLight";
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------RESPONSIVE-----------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 1400px) {
    .banner-call-back {
        background-size: cover;
        background-position: 0 0;
    }
}